@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.fontR_light_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.fontR_regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.fontR_medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

.fontR_bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.fontS_regular {
  font-family: "Sahitya", serif;
  font-weight: 400; }

.fontS_bold {
  font-family: "Sahitya", serif;
  font-weight: 700; }

.fontRosa_regular_italic {
  font-family: "Rosarivo", serif;
  font-weight: 400;
  font-style: italic; }

.fontRosa_regular {
  font-family: "Rosarivo", serif;
  font-weight: 400; }

.font_size-xl {
  font-size: x-large; }

.font_size-xxl {
  font-size: xx-large; }

.verde_mama {
  color: #92C83E; }

.marron_mama {
  color: #AA8472; }

.gris_mama {
  color: #858585; }

.f-3-5 {
  font-size: 3.5em; }

.f-2-em {
  font-size: 2em; }

* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

.carga_web {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: white;
  justify-content: center;
  animation-name: aparecer;
  animation-duration: 4s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    opacity: 0; } }

.imagenes_carga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }

.hojas {
  display: flex;
  flex-direction: row; }

.hoja_izquierda {
  animation-name: rotacion-izquierda;
  animation-delay: 1s;
  animation-duration: 2s; }

@keyframes rotacion-izquierda {
  50% {
    transform: rotate(-30deg); }
  100% {
    transform: rotate(0deg); } }

.hoja_derecha {
  animation-name: rotacion-derecha;
  animation-delay: 1s;
  animation-duration: 2s; }

@keyframes rotacion-derecha {
  50% {
    transform: rotate(-40deg); }
  100% {
    transform: rotate(0deg); } }

.animado {
  opacity: 0;
  transition: all 0.5s; }

.animado-2 {
  opacity: 0;
  transition: all 0.5s; }

.animado-3 {
  opacity: 0;
  transition: all 0.5s; }

.animado-4 {
  opacity: 0;
  transition: all 0.5s; }

.hacia-arriba {
  animation: haciaArriba 1s; }

@keyframes haciaArriba {
  0% {
    transform: translateY(60px); }
  100% {
    transform: translateY(0); } }

.derecha-izquierda {
  animation: derechaIzquierda 1s; }

@keyframes derechaIzquierda {
  0% {
    transform: translateX(60px); }
  100% {
    transform: translateX(0); } }

.izquierda-derecha {
  animation: izquierdaDerecha 1s; }

@keyframes izquierdaDerecha {
  0% {
    transform: translateX(-60px); }
  100% {
    transform: translateX(0); } }

.boton-animado {
  opacity: 0;
  transition: all 0.5s; }

.escala {
  animation: escala 1s; }

@keyframes escala {
  0% {
    transform: scale(1, 1); }
  25% {
    transform: scale(1.2, 1.2); }
  50% {
    transform: scale(1, 1); }
  75% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1, 1); } }

a {
  text-decoration: none; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.p-5-em {
  padding: 5em; }

.p-12-80 {
  padding: 12px 80px 12px 80px; }

.p-3-em {
  padding: 3em; }

.pt-3 {
  padding-top: 3px; }

.mt-3 {
  margin-top: 3em !important; }

.mt-5 {
  margin-top: 5em; }

.mt-7 {
  margin-top: 7em; }

.mt-8 {
  margin-top: 8em; }

.mt-9 {
  margin-top: 9em; }

.mt-10 {
  margin-top: 10em; }

.mb-3 {
  margin-bottom: 3em; }

.mb-5 {
  margin-bottom: 5em; }

.background_gray {
  background: rgba(196, 196, 196, 0.1); }

.nav_social_media_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  padding: 0; }
  .nav_social_media_list li {
    margin-left: 1em; }

.border_bottom_shadow {
  box-shadow: 1px 1px 10px 1px #8585851c; }

.fix-bc {
  background-color: #ffffff; }

.containter_grid_main {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: 'cardGeo logoMain' 'cardGeo parrafoMamaPacha'; }

.card_geo {
  grid-area: cardGeo; }

.logo_main {
  grid-area: logoMain;
  text-align: center; }

.parrafo_mama_pacha {
  grid-area: parrafoMamaPacha;
  background: rgba(196, 196, 196, 0.1);
  padding: 2.5em; }

.grid-terapias {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(2, fr);
  grid-template-areas: 'basadaEnPlantas embarazo'; }

.basada_en_plantas {
  grid-area: basadaEnPlantas; }
  .basada_en_plantas h5 {
    margin-bottom: 1em !important; }
  .basada_en_plantas p {
    margin-bottom: 4.3em !important; }

.embarazo {
  grid-area: embarazo; }
  .embarazo h5 {
    margin-bottom: 2.1em !important; }
  .embarazo p {
    margin-bottom: 0.1em !important; }

.boxshadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.textCenter {
  text-align: center; }

.bgc_container {
  background-color: #eeeeee; }

.bgc_button {
  background-color: #ffffff;
  border: #ffffff; }

.bgc_text {
  background-color: #eeeeee;
  border: #eeeeee;
  padding: 4px 0 4px 0; }

.bkg-imagen {
  background-image: url("../media/images/fondo.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff; }

.bkg-imagenC {
  background-image: url("../media/images/fondoContacto.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff; }

.li-leave {
  list-style: url(../media/images/logos/li.png); }

.grid-ayurveda {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'ayurvExpl fotoPiedra'; }

.ayurvExpl {
  grid-area: ayurvExpl; }

.fotoPiedra {
  grid-area: fotoPiedra; }

.grid-geo {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'fotoGeo titGeo' 'fotoGeo infoGeo'; }

.titGeo {
  grid-area: titGeo; }
  .titGeo h2 {
    font-size: 5em; }

.fotoGeo {
  grid-area: fotoGeo; }

.infoGeo {
  grid-area: infoGeo; }

@media (max-width: 768px) {
  .containter_grid_main {
    display: grid;
    gap: 0;
    grid-template-columns: 100%;
    grid-template-areas: 'cardGeo' 'parrafoMamaPacha'; }
  .parrafo_mama_pacha {
    grid-area: parrafoMamaPacha;
    background: rgba(196, 196, 196, 0.1);
    padding: 1em; }
  .font_size-xl {
    font-size: large;
    text-align: center; }
  .f-3-5 {
    font-size: xx-large; }
  .grid-terapias {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'basadaEnPlantas' 'embarazo'; }
  .basada_en_plantas {
    grid-area: basadaEnPlantas; }
  .embarazo {
    grid-area: embarazo; }
  .text-left {
    text-align: center !important;
    font-size: large; }
  .p-3-em {
    padding: 1em; }
  .grid-ayurveda {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
    grid-template-areas: 'fotoPiedra' 'ayurvExpl'; }
  .ayurvExpl {
    grid-area: ayurvExpl; }
  .fotoPiedra {
    grid-area: fotoPiedra; }
  .grid-geo {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
    grid-template-areas: 'titGeo' 'fotoGeo'  'infoGeo'; }
  .titGeo {
    grid-area: titGeo; }
    .titGeo h2 {
      font-size: 2em; }
  .infoGeo {
    grid-area: infoGeo; }
  .bkg-imagen {
    background-image: none; }
  .bkg-imagenC {
    background-image: none; }
  .p-12-80 {
    padding: 12px 20px 12px 20px; }
  .mt-10 {
    margin-top: 5em; }
  #hoja-der {
    width: 80.93px;
    height: 80.93px; }
  #hoja-izq {
    width: 80.93px;
    height: 80.93px; }
  .mt-0 {
    margin-top: 1em !important; } }
