body{
	font-family: $fontR;
	font-weight: $fontR-regular;
}
.fontR_light_italic{
	font-family: $fontR;
	font-weight: $fontR-light-italic;
}
.fontR_regular{
	font-family: $fontR;
	font-weight: $fontR-regular;
}
.fontR_medium{
	font-family: $fontR;
	font-weight: $fontR-medium;
}
.fontR_bold{
	font-family: $fontR;
	font-weight: $fontR-bold;
}

.fontS_regular{
	font-family: $fontS;
	font-weight: 400;
}
.fontS_bold{
	font-family: $fontS;
	font-weight: 700;
}
.fontRosa_regular_italic{
	font-family: $fontRosa;
	font-weight: $fontRosa-regular;
	font-style: $fontRosa-regular-italic-style;
}
.fontRosa_regular{
	font-family: $fontRosa;
	font-weight: $fontRosa-regular;
}

.font_size-xl{
	font-size: x-large;
}
.font_size-xxl{
	font-size: xx-large;
}
.verde_mama{
    color:#92C83E;
}
.marron_mama{
    color: #AA8472;
}
.gris_mama{
    color: #858585;
}
.f-3-5{
	font-size: 3.5em;
}