body{
	font-family: $fontR;
	font-weight: $fontR-regular;
}
.fontR_light_italic{
	font-family: $fontR;
	font-weight: $fontR-light-italic;
}
.fontR_regular{
	font-family: $fontR;
	font-weight: $fontR-regular;
}
.fontR_medium{
	font-family: $fontR;
	font-weight: $fontR-medium;
}
.fontR_bold{
	font-family: $fontR;
	font-weight: $fontR-bold;
}

.fontS_regular{
	font-family: $fontS;
	font-weight: 400;
}
.fontS_bold{
	font-family: $fontS;
	font-weight: 700;
}
.fontRosa_regular_italic{
	font-family: $fontRosa;
	font-weight: $fontRosa-regular;
	font-style: $fontRosa-regular-italic-style;
}
.fontRosa_regular{
	font-family: $fontRosa;
	font-weight: $fontRosa-regular;
}

.font_size-20{
	font-size: xx-large;
}