*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.p-24{
    padding: 24.5px;
}
.p-5-em{
    padding: 5em;
}
.p-12-80{
    padding: 12px 80px 12px 80px;
}
.mt-5{
    margin-top: 5em;
}
.mt-9{
    margin-top: 9em;
}
.mt-3{
    margin-top: 3em;
}
.mt-10{
    margin-top: 10em;
}
.mb-3{
    margin-bottom: 3em;
}
.mb-5{
    margin-bottom: 5em;
}
.background_gray{
    background: rgba(196, 196, 196, 0.1);
}
.nav_social_media_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    li{
        margin-left: 1em;
    }
}
.border_bottom_shadow{
    box-shadow: 1px 1px 10px 1px #8585851c;
}
.fix-bc {    
    background-color: #ffffff;
}

.containter_grid_main{
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    'cardGeo logoMain'
    'cardGeo parrafoMamaPacha';
}
.card_geo{
    grid-area: cardGeo;
}
.logo_main{
    grid-area: logoMain;
    text-align: center;
}
.parrafo_mama_pacha{
    grid-area: parrafoMamaPacha;
    background: rgba(196, 196, 196, 0.1);

    padding: 2.5em;
}
.grid-terapias{
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(2, fr);
    grid-template-areas: 
    'basadaEnPlantas embarazo';
}
.basada_en_plantas{
    grid-area: basadaEnPlantas;
}
.embarazo{
    grid-area: embarazo;
}
.boxshadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.grid-10{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    'que_es piedras'
    'pitta_kapha_vata doshas'
    'sabores especias'
    'pizarra beneficios'
    'articulo jarra';
}
.que_es{
    grid-area: que_es;
} 
.piedras{
    grid-area: piedras;
} 
.pitta_kapha_vatta{
    grid-area: pitta_kapha_vatta;
} 
.doshas{
    grid-area: doshas;
} 
.sabores{
    grid-area: sabores;
} 
.especias{
    grid-area: especias;
} 
.pizarra{
    grid-area: pizarra;
} 
.beneficios{
    grid-area: beneficios;
    ul{
        list-style-image: url(../media/images/logos/hoja-li.png);
    }
} 
.articulo{
    grid-area: articulo;
} 
.jarra{
    grid-area: jarra;
}
.textCenter {
    text-align: center;
}
.bgc_container {
    background-color: #eeeeee;
}
.bgc_button {
    background-color: #ffffff;
    border: #ffffff;
}
.bgc_text {
    background-color: #eeeeee;
    border: #eeeeee;
    padding: 4px 0 4px 0;
}
.bkg-imagen {
    background-image: url('../media/images/fondo.png');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.bkg-imagenC {
    background-image: url('../media/images/fondoContacto.png');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
}