$fontR: 'Roboto', sans-serif;
$fontR-light-italic: 300;
$fontR-regular: 400;
$fontR-medium: 500;
$fontR-bold: 700;


$fontS:'Sahitya', serif;
$fontS-regular: 400;
$fontS-bold: 700;

$fontRosa: 'Rosarivo', serif;
$fontRosa-regular: 400;
$fontRosa-regular-italic-style: italic;
